<% var user %>
<%- include('partials/header')%>
<%- include('partials/page_header')%>

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Account </li>
            </ol>
        </div>
    </div>
</section>

<%- include('partials/page_footer')%>
<%- include('partials/footer')%>