<%- include('partials/header') %>
<%- include('partials/page_header') %>

<section id="advertisement">
    <div class="container">
        <div class="alert alert-success text-center" style="font-size: 20px">A confirmation link has been sent to your
            email. Please confirm your account via email!
        </div>
    </div>
</section>

<%- include('partials/page_footer') %>
<%- include('partials/footer') %>